
@media all and (min-width : 769px) and (max-width : 992px){

 #bloc_page{
    margin: auto;
    width: 95%;
}
.bloc-container{
    display: flex;
    flex-direction: column-reverse;
    margin: -20px;
}
.all-card{
    flex-wrap: wrap;
    align-items: stretch;
}
.card{
    min-width: 320px;
}
.card1{
    min-width: 400px;
}
    
footer {
    flex-direction: column;
    padding: 30px 0px 30px 22px;
}
.info_footer
{
    margin-bottom: 20px;
}

}